* {
	box-sizing: border-box;
}

#wpadminbar {
	z-index: 99!important;
}

body {
	font-family: $body-font;
	font-size: 16px;
	background: #f6f6f6;
	color: $primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: $font-weight-normal;
}

img {
	width: 100%;
	vertical-align: middle;
}

p {
	font-size: 1.1rem;

	@media (min-width: 768px) {
		font-size: 1.5rem;
	}
}

span.fa.fa-spinner.fa-spin{
    position: absolute;
    top: 16px;
    left: 42px;
    font-size: 25px;
    color: $rooster-red;
    opacity: 0.8;
}

.group {
	position: relative;
	margin-bottom: 45px;
}

input {
	font-size: 34px;
	padding: 10px 10px 10px 38px;
	display: block;
	width: 300px;
	background: transparent;
	border: none;
	color: $muted-color;
	border-bottom: 1px solid #757575;

	&:focus {
		outline: none;
	}

	&:focus~label,
	&:valid~label,
	&:disabled~label,
	#boost &:focus~label,
	#boost &:valid~label,
	#boost &:disabled~label {
		top: -20px;
		font-size: 14px;
		color: #5264AE;
	}

	&:focus~.bar:before,
	&:focus~.bar:after {
		width: 50%;
	}

	&:focus~.highlight {
		-webkit-animation: inputHighlighter 0.3s ease;
		-moz-animation: inputHighlighter 0.3s ease;
		animation: inputHighlighter 0.3s ease;
	}
}

.bar {
	position: relative;
	display: block;
	width: 300px;

	&:before,
	&:after {
		content: '';
		height: 2px;
		width: 0;
		bottom: 1px;
		position: absolute;
		background: #5264AE;
		transition: 0.2s ease all;
		-moz-transition: 0.2s ease all;
		-webkit-transition: 0.2s ease all;
	}

	&:before {
		left: 50%;
	}

	&:after {
		right: 50%;
	}
}


button {
	padding: 0.5rem;
	color: $contrast-color;
	background: $primary-color;
	font-size: 1rem;
	font-weight: 200;
	width: 100%;
	border: none;

	@media (min-width: 768px) {
		width: initial;
		font-size: 1.2rem;
	}
}

.hidden {
	display: none;
}

span.error{
	background: white;
	border: 1px solid $rooster-red;
	border-left: 8px solid $rooster-red;
	text-align: center;
	padding: 20px;
	display: block;
	color: $rooster-red;
	margin: 20px;
}

img{
    max-width: 100%;
    vertical-align: middle;
}